<!DOCTYPE html>
<html>
<head>
    <title>Astra | Search</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    {% with message = get_flashed_messages(with_categories=True) %}
    {% if message %}
        <div class="flash">
            {% if message[0][0] == "error" %}
            <strong style="color: #ff0000"> Error: </strong> 
            {% elif message[0][0] == "warning" %}
            <strong style="color: #f9e71f"> Warning: </strong>
            {% endif %}
            {{message[0][1]}}
        </div>
    {% endif %}
    {% endwith %}
    <h1>Search</h1>
    <form action="/results" method="post">
        <label for="title">Paper Title or arXiv ID:</label>
        <input type="text" name="title" id="title" required>
        <br>
        <label for="k">Number of Recommendations:</label>
        <input type="number" name="k" id="k" value="5" min="1" max="20">
        <br>
        <button type="submit.large">Search</button>
    </form>
    <nav style="width: 80%; margin: auto; text-align: center;">
    <a href="/"> Back to Home </a>
    </nav>
</body>
</html>

